body{
    background-image: url('background.jpg');
    /* Image obtained from https://wallpaperaccess.com/navy-ship */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.share{
    left: 3%;
    bottom: 5%;
    position: fixed;
    font-size: 150%;
    font-family: Verdana;
}

.status{
    color: white;
    position: absolute; 
    top:10px; 
    font-size: 2vw;
    text-align: center;
    font-family: Verdana, sans-serif;
}

.home{
    font-size: 3vw;
    text-align: left;
    font-family: Verdana, sans-serif;
}

#shareText{
    color:white;
}

#shareButton{
    color: black;
    font-family: Verdana;
    font-size: 2vw;
}